QPushButton {
	background-color: #1890ff;
	border: 1px solid #1890ff;
	color: white;
	border-radius: 4px;
	padding: 6px 12px;
	font-size: 14px;
	font-weight: bold;
}

QPushButton:hover {
	background-color: #40a9ff;
	border-color: #40a9ff;
}

QPushButton:pressed {
	background-color: #096dd9;
	border-color: #096dd9;
}
